[column]
    ui = auto
[user]
    email = baslangenberg@gmail.com
    name = Bas Langenberg
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main
[core]
    autocrlf = input
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rl = reflog --pretty=format:'%Cred%h%Creset %C(auto)%gd%Creset %C(auto)%gs%C(reset) %C(green)(%cr)%C(reset) %C(bold blue)<%an>%Creset' --abbrev-commit
    sl = stash list --pretty=format:'%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr) %C(bold blue)<%an>%C(reset)'
    dirdiff = diff -p --stat -w --no-index
    co = checkout
    br = branch
    ci = commit
    st = status
    p = pull
    f = fetch
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[pull]
    rebase = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[help]
    autocorrect = prompt
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
[merge]
    conflictStyle = zdiff3

[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
