[user]
	email = baslangenberg@gmail.com
	name = Bas Langenberg
[core]
	autocrlf = input
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	dirdiff = diff -p --stat -w --no-index
[push]
	default = simple
